
.nf-notification-sounds {
   height: auto;
   width: auto;
   display: flex;
   flex-direction: row;
   overflow: hidden;
 }
 
 .nf-notification-sounds-icon {
    background: url('https://canary.discordapp.com/assets/f9b93aa0d9985bd2b678da58ed0d75d2.svg') 50% no-repeat !important;
 }
 .nf-slider {
    margin-top: 0px;
 }

 .nf-button-container {
   vertical-align: center;
}

 .nf-slider-container {
    width: 20%;
 }


.nf-setting-value-container {
   flex-grow: 4;
   display: inline-flex;
   justify-content: flex-end;
   vertical-align: center;
   height: 70px;
}
.nf-setting-value {
   margin-right: 10px;
   margin-left: 10px;
   height: 70px;
   align-items: center;
}

.nf-sound-title {
   overflow: visible;
}